body{
margin: 0;
padding: 0;
width: 100%;
}
h1 {
font-family:"Oswald";
font-weight:normal;
font-size: 55px;
text-align: center;
color: #fff;
margin: 0;
padding: 0;
}
h5 {
font-family:"Bodoni";
font-weight: normal;
font-size: 40px;
text-align: center;
color: black;
margin: 0;
padding: 0;
}
h3 {
font-family: Oswald;
font-weight: normal;
font-size: 16px;
text-align: center;
margin: 5px 0;
padding: 0;
z-index: 1;
position: relative;
}

h2 {
font-family:"Bodoni";
font-weight: normal;
font-size: 50px;
text-align: center;
color: white;
margin: 0;
padding: 100;
}

h4 {
font-size: 105%;
color: black;
}

.center { margin: 0 auto; }
.content{ margin: 0 auto; width: 960px; }
.clear { clear: both; }

 .author_name_black { font-family:"Raleway"; margin: 70px 0 0 75px; color: black; font-size: 20px; } 
 .quotes_container { width: 800px; margin: 0 auto; }
#header {
width: 100%;
background: url('../img/header-bg.png');
height: 70px;
position: fixed;
margin-top: 5px;
}
#nav { width: 410px; float: right; margin-top: 20px; }
#logo a { color: #fff; text-decoration: none; float: left; font-size: 30px; margin-top: 20px; color: #fff; font-family:"Vollkorn"; font-weight: bold; }
.quotes {
font-family: 'Goudy Bookletter 1911', serif;
font-weight: normal;
font-size: 45px;
text-align: left;
margin: 50px auto;
color: black;
}
 .quotes_container { width: 800px; margin: 0 auto; }
#slide1, #slide2{ width: 100%; }
#slide1{
background:url('../img/hulk.jpg') 50% 0 no-repeat fixed;
color: #fff;
height: 250px;
margin: 0;
padding: 200px 0 260px 0;
background-size: cover;
}
#slide1 h5 {
	background-color: #FFF;
	}
	

#slide2{
background-color: #fff;
color: #333333;
height: 475px;
margin: 0 auto;
overflow: hidden;
padding: 75px 0;
}